mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #673ab7;
  width: 200px;
  color: #fff;
}

mat-icon {
  color: #fff;
}
